@charset "utf-8";

$navbar-item-color: white;

$blue: hsl(217, 71%, 53%) !default;
$navbar-background-color: $blue;

.navbar-burger:hover {
    color: white;
}

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/components/card.sass;";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
